# Git
.git
.gitignore
.gitattributes

# Jupyter
*.ipynb

# Data files
data_layer/*
!data_layer/silver/ddl.sql
!data_layer/gold/ddl.sql
transformer/
assets/

# Documentation
README.md
*.md

# Docker
docker-compose.yml